<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>韭菜根儿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='front/css/index.css') }}">
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-7"
                 id="lineChartContainer"
                 style="background-color: rgba(218,218,218,0.47);width: 600px;height:500px;">
            </div>
            <div class="col-sm-12 col-md-11 col-lg-7"
                 id="barChartContainer"
                 style="background-color: rgba(199,40,40,0.47);width: 600px;height:500px;">
            </div>
        </div>
</div>
</body>
</html>